@color-common-dark: #55463f;
@color-common-bg: #fff;
@color-common-light: #d2b491;
@color-common-neutral: #000;
@color-common-danger: #920e0d;
@color-common-text: #000;
@color-inverse-text: #fff;

@color-header-bg: @color-common-dark;
@color-header-title: @color-common-bg;
@color-header-text: @color-common-light;

@color-common-menu: @color-common-bg;
@color-menu-text: @color-common-dark;
@color-menu-text-active: @color-common-danger;

@color-title-text: @color-common-light;
@color-title-bg: @color-common-dark;

@color-common-link: @color-common-dark;
@color-common-link-active: @color-common-danger;

@color-gallery-text: @color-common-neutral;
@color-gallery-content-text-bg: rgba(255,255,255,0.8);
@color-gallery-subtitle-bg: @color-common-light;
@color-gallery-line-bg: #BBA78D;
@color-gallery-text-advanced: @color-common-dark;
@color-gallery-bg-advanced: @color-common-bg;

@color-contact-bg: #3EB046;
@color-contact-text: @color-inverse-text;

@color-breadcrumb-bg: @color-common-light;
@color-breadcrumb-text: @color-common-dark;

@color-button-bg: @color-common-dark;
@color-button-bg-disabled: @color-common-light;

@color-button-text: @color-common-light;
@color-button-text-disabled: @color-common-bg;
@color-button-border: @color-common-dark;
@color-button-border-active: @color-common-light;