= top
.b-content.b-content--main.i-mb25
  .b-table--checkout__block.b-table--checkout__block--gray
    .b-col.b-col--3--2.i-br-d
      = content
    .b-col.b-col--3.i-pl25
      =contentright
= additional
= File.read("checkout/thankyou/bottom.html")