-if emptyBlock
  #catalogCategoriesPlaceholder.b-leftPane__item
.b-leftPane__item.b-leftPane__item--homeGoods
  .b-leftPane__item__title Товары для дома
  %img{'src'=>"images/temp/temp__peoples.jpg", 'alt'=>""}
  %a.b-link{'href'=>"#"} Подробнее &rsaquo;
.b-leftPane__item.b-leftPane__item--reviews
  .b-leftPane__item__title Оставьте свои отзывы и пожелания
  %a.b-link{'href'=>"#"} Подробнее &rsaquo;
.b-leftPane__item.b-leftPane__item--polls
  .b-leftPane__item__title Опросы
  %a.b-link{'href'=>"#"} Подробнее &rsaquo;
.b-leftPane__item
  .b-leftPane__item__title Новости ассортимента
  .b-newsDate 16.06.14
  .b-newsTitle Товары с футбольной символикой
  .b-newsText Болейте за Россию на чемпионате мира по футболу!
  %a.b-link{'href'=>"#"} Все новости &rsaquo;