.b-adv.b-adv--left.js-content--features.fixed
  .b-adv__child
    .b-adv__item
      %a.b-adv__item__product{:href=>"#", :style=>"margin-right: -69px;"}
        %img{:src=>"images/adv/tv.png", :alt=>"3D телевизор", :width=>"323", :height=>"328"}
      %div{:style=>"position: absolute; top:245px;right: 0;"}
        .i-fs48.b-colored--000.i-fwb.i-mr10.i-text-right.i-lh-50 13 990 <span class="i-fs30">р.</span>
        .i-text-center
          %a.b-link.i-fs14.i-lh-30{:href=>"#"} В корзину
    .b-adv__item
      %a.b-adv__item__product{:href=>"#", :style=>"margin-right: -30px;"}
        %img{:src=>"images/adv/collectBonuses.png", :alt=>"Собирай бонусы", :width=>"132", :height=>"105"}

.b-adv.b-adv--right.js-content--features.fixed
  .b-adv__child
    .b-adv__item
      .b-sticker__wrapper
        .b-sticker.b-sticker--big
          %img.b-sticker__img{:src=>'images/sticker/discount.png'}
      %a.b-adv__item__product{:href=>"#", :style=>"margin-left: 20px;"}
        %img{:src=>"images/temp/temp__chair.png", :alt=>"Стул", :width=>"121", :height=>"181"}
      %div{:style=>"position: absolute; top:180px; left: 0;"}
        .i-fs48.b-colored--000.i-ml20.i-text-center.i-lh-50
          %span.b-productList__price--old.i-text-center.i-fs30.i-lh-30{:style=>"color: #000;"} 7598 <span class="i-fs14" style="color: #000;"> р.</span>
        .i-fs48.b-colored--000.i-fwb.i-ml20.i-text-center.i-lh-50.i-text-nowrap 6 838 <span class="i-fs30"> р.</span>
        .i-text-center
          %a.b-link.i-fs14.i-lh-30{:href=>"#"} В корзину
    .b-adv__item{:style=>"margin-top: 190px;"}
      .b-sticker__wrapper.b-sticker__wrapper--right
        .b-sticker.b-sticker--big
          %img.b-sticker__img{:src=>'images/sticker/new.png'}
      %a.b-adv__item__product{:href=>"#", :style=>"margin-left: -25px;"}
        %img{:src=>"images/temp/temp__phone.png", :alt=>"", :width=>"137", :height=>"199"}
      .i-text-center
        %a.b-link.i-fs14.i-lh-24{:href=>"#"} Подробнее <span class="i-fs18">&rsaquo;</span>