.b-appStores__inner
  .b-appStores__list
    %ul.b-menu--horizontal
      %li.b-menu__item Мобильное<br>приложение
      %li.b-menu__item
        %a{:href=>"#"}
          %img{:src=>"images/appstores/appstore__androidMarket.png", :alt=>"", :width=>"140", :height=>"42"}
      %li.b-menu__item
        %a{:href=>"#"}
          %img{:src=>"images/appstores/appstore__appStore.png", :alt=>"", :width=>"140", :height=>"42"}
      %li.b-menu__item
        %a{:href=>"#"}
          %img{:src=>"images/appstores/appstore__googlePlay.png", :alt=>"", :width=>"140", :height=>"42"}
  %form.b-subscribe
    %label.b-label{:for=>""} Подпишись и будь в курсе<br>всех акций
    %input.b-subscribe__fieldEmail{:type=>"text", :placeholder=>"Ваш email"}
    %input.b-subscribe__fieldSubmit{:type=>"submit", :value=>"+"}