.b-footer--features.js-footer--features.fixed
  .b-arrow__toTop.js-page__arrow#scrollToTop
    &nbsp;
  .b-consultant__item.b-buttonPlane--gray.b-buttonPlane.b-buttonPlane--consultant On-line консультант
  .b-consultant__item.b-buttonPlane--green.b-buttonPlane.b-buttonPlane--call.online_call Звонок через сайт
