.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.i-bl-d {
  border-left: 1px dotted #848486;
}
.i-br-d {
  border-right: 1px dotted #848486;
}
.i-bb-d {
  border-bottom: 1px dotted #848486;
}
.i-bb-d--light {
  border-bottom: 1px dotted #d9d9d9;
}
.i-bl-s {
  border-left: 1px solid #d9d9d9;
}
.i-bf-s {
  border: 1px solid #848486;
}
.i-b-no {
  border: none;
}
.i-color-666 {
  color: #666;
}
.i-color-6b {
  color: #6b6b6b;
}
.i-color-000 {
  color: #000;
  font-size: inherit;
}
.i-c-p {
  cursor: pointer;
}
.i-c-a {
  cursor: auto;
}
.i-c-d {
  cursor: default;
}
.i-dib {
  display: inline-block;
}
.i-db {
  display: block;
}
.i-dn {
  display: none;
}
.i-dtc {
  display: table-cell;
}
.i-f-lt {
  float: left;
}
.i-f-rt {
  float: right;
}
.i-fs12 {
  font-size: 12px;
}
.i-fs14 {
  font-size: 14px;
}
.i-fs16 {
  font-size: 16px;
}
.i-fs17 {
  font-size: 17px;
}
.i-fs18 {
  font-size: 18px;
}
.i-fs30 {
  font-size: 30px;
}
.i-fs48 {
  font-size: 48px;
}
.i-fst--normal {
  font-style: normal;
}
.i-mb0 {
  margin-bottom: 0;
}
.i-mb5 {
  margin-bottom: 5px;
}
.i-mb10 {
  margin-bottom: 10px;
}
.i-mb15 {
  margin-bottom: 15px;
}
.i-mb20 {
  margin-bottom: 20px;
}
.i-mb25 {
  margin-bottom: 25px;
}
.i-mb30 {
  margin-bottom: 30px;
}
.i-mb45 {
  margin-bottom: 45px;
}
.i-ml15l {
  margin-left: -15px;
}
.i-mr10l {
  margin-right: -10px;
}
.i-mb50 {
  margin-bottom: 50px;
}
.i-mr5 {
  margin-right: 5px;
}
.i-mr10 {
  margin-right: 10px;
}
.i-mr15 {
  margin-right: 15px;
}
.i-mr25 {
  margin-right: 25px;
}
.i-mr30 {
  margin-right: 25px;
}
.i-ml20 {
  margin-left: 20px;
}
.i-ml10 {
  margin-left: 10px;
}
.i-ml5 {
  margin-left: 5px;
}
.i-mt0 {
  margin-top: 0;
}
.i-mt10 {
  margin-top: 10px;
}
.i-mt15 {
  margin-top: 15px;
}
.i-mt20 {
  margin-top: 20px;
}
.i-mt25 {
  margin-top: 25px;
}
.i-mt30 {
  margin-top: 30px;
}
.i-mt40 {
  margin-top: 40px;
}
.i-mt45 {
  margin-top: 45px;
}
.i-mt75 {
  margin-top: 75px;
}
.i-m--auto {
  margin: 0 auto;
}
.i-pl10 {
  padding-left: 10px;
}
.i-pl5 {
  padding-left: 5px;
}
.i-pl7 {
  padding-left: 7px;
}
.i-pl17 {
  padding-left: 17px;
}
.i-pl0 {
  padding-left: 0;
}
.i-pl15 {
  padding-left: 15px;
}
.i-pl20 {
  padding-left: 20px;
}
.i-pl25 {
  padding-left: 25px;
}
.i-pl50 {
  padding-left: 50px;
}
.i-pr0 {
  padding-right: 0px;
}
.i-pr5 {
  padding-right: 5px;
}
.i-pr7 {
  padding-right: 7px;
}
.i-pr10 {
  padding-right: 10px;
}
.i-pr15 {
  padding-right: 15px;
}
.i-pr25 {
  padding-right: 25px;
}
.i-pt5 {
  padding-top: 5px;
}
.i-pt10 {
  padding-top: 10px;
}
.i-pt15 {
  padding-top: 15px;
}
.i-pt20 {
  padding-top: 20px;
}
.i-p0 {
  padding: 0;
}
.i-pb0 {
  padding-bottom: 0;
}
.i-pb10 {
  padding-bottom: 10px;
}
.i-pb15 {
  padding-bottom: 15px;
}
.i-pb20 {
  padding-bottom: 20px;
}
.i-posr {
  position: relative;
}
.i-p-abs {
  position: absolute;
}
.i-text-center {
  text-align: center;
}
.i-text-left {
  text-align: left;
}
.i-text-right {
  text-align: right;
}
.i-text-nowrap {
  text-wrap: none;
  white-space: nowrap;
  word-wrap: normal;
}
.i-text-wrap {
  text-wrap: normal;
  white-space: normal;
  word-wrap: normal;
}
.i-text-break {
  text-wrap: normal;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}
.i-text-lowcase {
  text-transform: lowercase;
}
.i-vab {
  vertical-align: bottom;
}
.i-vam {
  vertical-align: middle;
}
.i-vat {
  vertical-align: top;
}
.i-o-h {
  overflow: hidden;
}
.i-wb-ba {
  word-break: break-all;
}
.i-wb-bw {
  word-break: break-word;
}
.i-ov-dt {
  text-wrap: none;
  white-space: nowrap;
  word-wrap: normal;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.i-sup {
  font-size: 80%;
  vertical-align: text-bottom;
}
.i-bbg {
  border-bottom: 5px solid #5a5f64;
}
.i-p-b {
  bottom: 0;
}
.i-td-undl {
  text-decoration: underline;
}
.i-td-none {
  text-decoration: none;
}
.i-c-bt {
  clear: both;
}
.i-lh-20 {
  line-height: 20px;
}
.i-lh-23 {
  line-height: 23px;
}
.i-lh-24 {
  line-height: 24px;
}
.i-lh-26 {
  line-height: 26px;
}
.i-lh-28 {
  line-height: 28px;
}
.i-lh-30 {
  line-height: 30px;
}
.i-lh-50 {
  line-height: 30px;
}
.i-lh-n {
  line-height: normal;
}
.i-fwb {
  font-weight: bold;
}
.i-w-f {
  width: 100%;
}
.i-w-f90 {
  width: 90%;
}
.i-w-f94 {
  width: 94%;
}
.i-w-600 {
  width: 600px;
}
.b-icn__phone {
  display: block;
  width: 30px;
  height: 30px;
  background: url("images/phone_icon.png") left center no-repeat;
  margin-right: 5px;
}
@media only screen and (max-width: 509px) {
  .b-icn__phone {
    transform: scale(0.7, 0.7);
    margin: 0;
  }
}
.b-icn__time {
  display: block;
  width: 30px;
  height: 30px;
  background: url("images/clock_icon.png") left center no-repeat;
  margin-right: 5px;
}
@media only screen and (max-width: 509px) {
  .b-icn__time {
    transform: scale(0.7, 0.7);
    margin: 0;
  }
}
.entry-header {
  margin-left: 5%;
  margin-right: 5%;
  border-top: 4px solid #55463f;
  color: #d2b491;
  text-align: center;
}
.entry-header .entry-title {
  padding: 0 10px;
  margin-bottom: 1.6rem;
}
.entry-header .entry-title,
.entry-header .entry-title > *,
.entry-header .entry-title > a {
  background: #55463f;
  color: inherit;
  display: inline-block;
  font-size: 3rem;
  vertical-align: top;
}
.entry-header .entry-title:hover,
.entry-header .entry-title > *:hover,
.entry-header .entry-title > a:hover {
  color: inherit;
}
.entry-header .entry-title > *,
.entry-header .entry-title > a {
  margin-bottom: 0;
}
a,
.sidebar a {
  color: #55463f;
}
a:hover,
.sidebar a:hover,
a:active,
.sidebar a:active,
a:focus,
.sidebar a:focus {
  color: #920e0d;
}
.container-slim .site-content {
  width: auto;
}
ul.social-icon_footer {
  display: block;
  text-align: left;
  margin-left: 15px;
}
ul.social-icon_footer > * {
  display: inline-block;
}
.b-gallery {
  text-align: justify;
  display: block;
  position: relative;
  zoom: 1;
  margin-bottom: 20px;
}
.b-gallery:before,
.b-gallery:after {
  content: '';
  display: table;
}
.b-gallery:after {
  clear: both;
}
.b-gallery:before,
.b-gallery:after {
  content: '';
  display: table;
}
.b-gallery:after {
  clear: both;
}
.b-gallery.bgline {
  margin-bottom: 50px;
  margin-left: 4%;
  width: 100%;
}
.b-gallery.bgline:before {
  width: 100%;
  background: #bba78d;
  height: 40%;
  position: absolute;
  content: '';
  display: block;
  margin-left: -4%;
  margin-right: -4%;
  bottom: 0;
}
.b-gallery.bgline .content + .subtitle {
  position: relative;
  margin-bottom: 30px;
  margin-top: 0;
  background: #ffffff;
  color: #55463f;
  padding-top: 0;
}
.b-gallery.bgline .subtitle .number {
  font-size: 28px;
  line-height: 32px;
  display: block;
}
.b-gallery--simple {
  overflow: hidden;
  display: block;
}
.b-gallery__content {
  position: relative;
  left: 0;
}
.b-gallery__contentWrapper {
  margin-left: 4%;
  overflow: hidden;
  width: 92%;
}
.b-gallery__button {
  height: 100%;
  position: absolute;
  min-width: 20px;
  width: 4%;
}
.b-gallery__button div {
  width: 19px;
  height: 36px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  background-image: url(../images/arrows.png);
  background-repeat: no-repeat;
  cursor: pointer;
  background: #000;
}
.b-gallery__button--back {
  left: 0;
}
.b-gallery__button--back div {
  background-position: 0 -175px;
  background: #000;
}
.b-gallery__button--back:hover div {
  background-position: 0 -211px;
}
.b-gallery__button--next {
  right: 0;
}
.b-gallery__button--next div {
  background-position: -19px -175px;
}
.b-gallery__button--next:hover div {
  background-position: -19px -211px;
}
.b-gallery__item {
  display: inline-block;
  float: left;
  width: 23%;
  color: #000000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  /*&:last-of-type{
      margin-right:0;
    }
    &:first-of-type{
       margin-left:0;
     }*/
}
@media only screen and (max-width: 509px) {
  .b-gallery__item {
    width: 49%;
  }
}
.b-gallery__item .title {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.b-gallery__item .content {
  display: block;
  position: relative;
}
.b-gallery__item .content img {
  max-width: 100%;
  width: 100%;
}
.b-gallery__item .text {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  left: 0;
  bottom: 20px;
  padding: 1px 3px;
  min-width: 60%;
  text-align: center;
}
.b-gallery__item .text.top {
  bottom: auto;
  top: 20px;
}
.b-gallery__item .subtitle {
  display: block;
  background: #d2b491;
  text-align: center;
  padding: 2px 5px;
  font-size: 14px;
}
.b-gallery__item .content + .subtitle {
  margin-top: 10px;
}
.b-contactus__wrapper {
  background: transparent no-repeat center center;
  background-attachment: notdefined;
  background-clip: padding-box;
  background-size: cover;
  background-origin: padding-box;
  display: block;
  padding: 60px 15px;
  padding-right: 10%;
  text-align: right;
}
.b-contactus__form {
  background-color: #3eb046;
  padding: 30px;
  color: #ffffff;
  width: 40%;
  display: inline-block;
  text-align: center;
}
.b-contactus__form .submit {
  text-align: center;
  display: block;
  margin-top: 40px;
}
.b-contactus__form .submit > input {
  width: 80%;
  border: 2px solid #ffffff;
  color: inherit;
  background: inherit;
  padding: 3px 10px;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none;
}
.b-contactus__form .submit > input:hover,
.b-contactus__form .submit > input:active,
.b-contactus__form .submit > input:focus {
  color: #3eb046;
  background: #ffffff;
  border: 2px solid;
}
.b-contactus__form .submit .ajax-loader {
  width: auto;
  height: 30px;
  vertical-align: top;
  margin-right: -55px;
}
.b-contactus__form .field {
  display: block;
  margin-bottom: 10px;
}
.b-contactus__form .field input {
  padding: 7px 15px;
}
.b-contactus__form .title {
  margin-top: 0;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: inherit;
}
@media only screen and (max-width: 900px) {
  .b-contactus__wrapper {
    text-align: center;
    padding: 40px 6%;
  }
  .b-contactus__form {
    width: auto;
    padding: 6%;
  }
}
@media only screen and (max-width: 509px) {
  .b-contactus .title {
    font-size: 15px;
    line-height: 22px;
  }
}
#headercontainer {
  background: #55463f;
}
#headercontainer .site-header {
  text-wrap: none;
  white-space: nowrap;
  word-wrap: normal;
  color: #d2b491;
  text-align: center;
  margin: 0 auto;
}
@media only screen and (max-width: 900px) {
  #headercontainer .site-header {
    text-wrap: normal;
    white-space: normal;
    word-wrap: normal;
    width: 100%;
  }
}
#headercontainer .site-header .site-title {
  margin: 0;
  padding-left: 0;
  border: none;
  text-align: left;
}
#headercontainer .site-header .site-title,
#headercontainer .site-header .site-title a {
  color: #ffffff;
}
@media only screen and (max-width: 900px) {
  #headercontainer .site-header .site-title,
  #headercontainer .site-header .site-title a {
    font-size: 3.05rem;
  }
}
#headercontainer .site-header .site-title a {
  font-weight: normal;
  letter-spacing: normal;
  text-transform: capitalize;
}
@media only screen and (max-width: 509px) {
  #headercontainer .site-header .site-title {
    padding: 10px;
    border-bottom: 1px solid #d2b491;
  }
}
#headercontainer .site-header > * {
  display: table-cell;
  width: inherit;
  vertical-align: middle;
  border-left: 1px solid #d2b491;
  padding: 0 10px;
}
@media only screen and (max-width: 900px) {
  #headercontainer .site-header > * {
    text-wrap: normal;
    white-space: normal;
    word-wrap: normal;
    width: 50%;
  }
  #headercontainer .site-header > *:nth-child(1) {
    border-bottom: 1px solid;
  }
}
@media only screen and (max-width: 509px) {
  #headercontainer .site-header > * {
    width: 50%;
    display: inline-block;
    float: left;
    line-height: 32px;
    border: none;
    text-wrap: none;
    white-space: nowrap;
    word-wrap: normal;
    padding: 0 5px;
  }
  #headercontainer .site-header > *.site-title {
    width: 100%;
    text-wrap: normal;
    white-space: normal;
    word-wrap: normal;
  }
  #headercontainer .site-header > *:last-of-type {
    border-left: 1px solid #d2b491;
  }
}
#headercontainer .site-header > * > * {
  display: inline-flex;
  display: inline-table;
  vertical-align: middle;
}
#headercontainer .site-header > * > i {
  display: inline-block;
}
#headercontainer .site-header > * .infoblock {
  text-align: center;
  text-wrap: normal;
  white-space: normal;
  word-wrap: normal;
}
#headercontainer .site-header > * .infoblock > * {
  text-wrap: none;
  white-space: nowrap;
  word-wrap: normal;
  display: block;
}
#headercontainer .site-header > * .title {
  color: inherit;
}
@media only screen and (max-width: 900px) {
  #headercontainer .site-header > * .title {
    display: none;
  }
}
#headercontainer .site-header > * .subtitle {
  color: #ffffff;
  font-size: 18px;
}
@media only screen and (max-width: 509px) {
  #headercontainer .site-header > * .subtitle {
    font-size: 14px;
  }
}
.b-dtd {
  display: block;
}
@media only screen and (max-width: 509px) {
  .b-dtd {
    display: none;
  }
}
.b-header__address {
  display: block;
  line-height: normal;
  text-align: left;
}
@media only screen and (max-width: 509px) {
  .b-header__address {
    display: none;
  }
}
.nav-container {
  color: #55463f;
  background: #ffffff;
}
.nav-container .main-navigation {
  padding: 0;
}
.nav-container .main-navigation ul .current-menu-item {
  color: #920e0d;
}
.nav-container .main-navigation ul a {
  color: inherit;
  cursor: pointer;
}
.nav-container .main-navigation ul a:hover {
  color: #920e0d;
}
#footercontainer {
  background: #55463f;
}
#footercontainer .site-footer {
  padding-top: 0;
}
#footercontainer .footer-wrap {
  padding-top: 10px;
  background: transparent;
  color: #ffffff;
  text-align: center;
}
#footercontainer .footer-wrap .row {
  display: block;
  display: inline-table;
  max-width: 1140px;
  width: 100%;
  line-height: 30px;
}
#footercontainer .footer-wrap .row:first-of-type .widget {
  padding-bottom: 5px;
  margin-bottom: 0;
}
#footercontainer .footer-wrap .row > div {
  vertical-align: top;
  color: inherit;
  text-align: justify;
  line-height: inherit;
}
#footercontainer .footer-wrap .row > div > * {
  display: block;
  color: inherit;
}
