%header.site-header.row{:id=>"masthead",:role=>"banner"}
  =Haml::Engine.new(File.read("header/headerTitle.haml")).render
  %div
    =File.read("header/headerAddress.html")
  %div
    =File.read("header/headerTime.html")
  %div
    =File.read("header/headerPhone.html")