.b-menu__item.js-gallery__item.js-productinfo--hover{"data-id"=>"1234"}
  .b-quickSell__productImg.b-productList--info__wrapper
    .b-productList--info.b-productList--info--hidden.js-productinfo--popup
      .b-div__row.b-productList--info__item
        .b-div__cell
          Размер изделия:
        .b-div__cell
          130 мм
      .b-div__row.b-productList--info__item
        .b-div__cell
          Страна происхождения:
        .b-div__cell
          Соединенное королевство Великобритания
      .b-div__row.b-productList--info__item
        .b-div__cell
          Материал:
        .b-div__cell
          нержавеющая сталь
    %a.b-quickSell__productImg.js-compare__link{"href"=>"#"}
      %img{"src" => "images/temp/temp_news1.png"}
  .b-quickSell__productName
    %a.b-quickSell__productNameLink{"href"=>"#"}
      Нож универсальный Apollo Nuances (13см)
  .b-quickSell__productPrices
    %a.b-quickSell__price--old{"href"=>"#"}
      193
      р.
    %a.b-quickSell__price{"href"=>"#"}
      %span.b-price
        = 185
      р.
  .b-quickSell__productCounter
    .js-product-add__wrapper
      .b-productListCounter.js-counter__wrapper
        %input.b-productListCounter__field.js-counter__number{'type'=>"text", 'value'=>"120"}
        .b-productListCounter__arrow--block
          %span.b-productListCounter__arrow.js-counter__plus
          %span.b-productListCounter__arrow.b-productListCounter__arrow--down.js-counter__minus
      .b-btn.b-btn--red.js-product-add В корзину