.b-commonInfo
  %h1.b-commonInfo__h1 Интернет-магазин канцелярских товаров &laquo;Комус&raquo;
  %p Добро пожаловать! У нас в продаже канцелярские товары для офиса и дома оптом и в розницу по выгодным ценам. Вы можете купить канцтовары для детей и взрослых по самым выгодным ценам с доставкой в удобное для Вас время и место. Заказывайте канцелярию, получайте подарки в интересных акциях, экономьте с нашими скидками и будьте в курсе последних новинок.