<div class="clearfix b-quickSellProducts">
  <div class="b-quickSell b-quickSell--new">
      <div class="b-quickSell__title">
          <span class="b-quickSell__titleInner">Новинка</span>
      </div>
      <div class="b-quickSell__content" style="padding-top: 50px;padding-left: 1px;">
          <div class="b-quickSell__productImg">
              <a class="" href="#">
                  <img src="images/temp/temp__notebook.png" alt="" width="221" height="148">
              </a>
              <div class="b-sticker__wrapper">
                  <div class="b-sticker"><img class="b-sticker__img" src='images/sticker/new.png'/></div>
              </div>
          </div>
          <div class="b-quickSell__productName">
              Ноутбук Asus X550LA
          </div>
          <div class="b-quickSell__productPrices">
              <span class="b-quickSell__price">20 190 р.</span>
          </div>
          <div class="b-quickSell__addToCart">
              <span class="b-link">В корзину</span>
          </div>
      </div>
  </div>

  <div class="b-quickSell b-quickSell--soon">
      <div class="b-quickSell__title">
          <span class="b-quickSell__titleInner">Скоро в продаже</span>
      </div>
      <div class="b-quickSell__content">
          <div class="b-quickSell__productName">
              iPhone 6
          </div>
          <div class="b-quickSell__productImg">
              <img src="images/temp/temp__iphone.png" alt="">
          </div>
          <div class="b-quickSell__addToCart">
              <span class="b-link">Подробнее &rsaquo;</span>
          </div>
      </div>
  </div>

  <div class="b-quickSell b-quickSell--solution">
      <div class="b-quickSell__title b-quickSell__title">
          <span class="b-quickSell__titleInner">Готовое решение</span>
      </div>
      <div class="b-quickSell__content">
          <div class="b-quickSell__productImg">
              <img src="images/temp/temp__bags.png" alt="">
          </div>
          <div class="b-quickSell__addToCart">
              <span class="b-link">Подробнее &rsaquo;</span>
          </div>
      </div>
  </div>
</div>