.b-quickSell__productImg
  %img.b-quickSell__productImg__img{'src'=>'images/temp/temp__paper.jpg', 'alt'=>'', 'width'=>"133", 'height'=>"100"}
  .b-sticker__wrapper
    .b-sticker
      %img.b-sticker__img{'src'=>'images/sticker/discount_20.png'}
.b-quickSell__productName Бумага Комус Документ
.b-quickSell__productPrices
  %span.b-quickSell__price--old 110 р.
  %span.b-quickSell__price
    %span.b-price 119
    р.
.b-productListCounter.js-counter__wrapper
  %input.b-productListCounter__field.js-counter__number{'type'=>"text", 'value'=>"120"}
  .b-productListCounter__arrow--block
    %span.b-productListCounter__arrow.js-counter__plus
    %span.b-productListCounter__arrow.b-productListCounter__arrow--down.js-counter__minus
.b-btn.b-btn--red.js-product-add В корзину